<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Flag url:</strong>
  <%= @country.flag_url %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @country.logo_url %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
